@import 'tailwindcss';
@import '../tailwind/theme.css';
@import '../tailwind/components.css';
@import '../tailwind/utilities.css';

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  direction: rtl;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  direction: rtl;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  direction: rtl;
}

input:-moz-placeholder {
  /* Firefox 18- */
  direction: rtl;
}

input {
  outline: none;
  border: none;
}
